<ul class="nav visible-desktop">
	<li class="dropdown bxnavbar">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">基本管理 <b class="caret"></b></a>
		<ul class="dropdown-menu">
			<li>
				<a href="books.html"><i class="icon-user"></i> <span> 详细信息 </span></a>
			</li>
			<li>
				<a href="mailBox.html"><i class="icon-envelope"></i> <span> 历史情况 </span> </a>
			</li>
			<li>
				<a href="notice.html"><i class="icon-warning-sign"></i> <span> 设置 </span> </a>
			</li>
			
		</ul>
	</li>
	
</ul>