<ul class="nav visible-desktop">
	<li class="dropdown bxnavbar">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">个人中心 <b class="caret"></b></a>
		<ul class="dropdown-menu">
			<li>
				<a href="books.html"><i class="icon-user"></i><span> 个人管理</span></a>
			</li>
			<li>
				<a href="mailBox.html"><i class="icon-envelope"></i><span> 邮件</span></a>
			</li>
			<li>
				<a href="notice.html"><i class="icon-warning-sign"></i><span> 通知</span></a>
			</li>
			<li class="dropdown-submenu">
				<a tabindex="-1" href="#timelines">系统及用户管理</a>
				<ul class="dropdown-menu">
					<li>
						<a tabindex="-1" href="users.html">系统用户管理</a>
					</li>
					<li>
						<a tabindex="-1" href="roles.html">系统角色管理</a>
					</li>
					<li>
						<a tabindex="-1" href="s.html">人事部门管理</a>
					</li>
				</ul>
			</li>

		</ul>
	</li>
	<li class="dropdown bxnavbar">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">资产管理 <b class="caret"></b></a>
		<ul class="dropdown-menu">
			<li class="dropdown-submenu">
				<a tabindex="-1" href="#timelines">工资发放</a>
				<ul class="dropdown-menu">
					<li>
						<a tabindex="-1" href="mysalary.html"><i class="icon-money"></i><span> 我的工资</span></a>
					</li>
					<li>
						<a tabindex="-1" href="salarymanager.html">工资管理</a>
					</li>
				</ul>
			</li>
		</ul>
	</li>
</ul>